<div class="task-card">
  <div class="task-header">
    <h2>Tasks for {{ name }}</h2>
    <button class="add-task-btn" type="button">+ Add</button>
  </div>

  <ul class="task-list">
    @for(task of tasks; track task.description){
      <li class="task-item">
        <app-task [status]="task.status" [description]="task.description"></app-task>
      </li>
    }
    <!-- <li class="task-item">
      <span class="task-status done"></span>
      <span>Review Angular assignment</span>
    </li>
    <li class="task-item">
      <span class="task-status pending"></span>
      <span>Update user profile details</span>
    </li>
    <li class="task-item">
      <span class="task-status progress"></span>
      <span>Refine dashboard styling</span>
    </li> -->
  </ul>
</div>
